// Import custom font
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;500;700&display=swap');
@import '../src/main.scss';

.story {
  &__button {
    & button {
      margin: 2px;
    }
    &__icon {
      & button {
        margin: 5px;
      }
    }
  }
  &__form-field {
    & .MuiFormControl-root {
      width: 50%;
      margin: 16px;
    }
  }
  &__card {
    display: flex;
    .MuiCard-root {
      width: 30%;
      margin: 8px;
    }
  }
  &__avatar {
    display: flex;
    .MuiAvatar-root {
      margin: 4px;
    }
  }
  &__table {
    .MuiCard-root {
      margin: 8px;
    }
  }
  &__page {
    height: 70vh;
  }
  &__menu {
    display: flex;
    align-items: center;
    & > div {
      margin: 0 8px;
    }
  }
  &__list {
    background: #f5f5f5;
    padding: 20px;
    & ul {
      background: white;
      max-width: 450px;
    }
    & .MuiCard-root {
      max-width: 450px;
    }
  }
  &__divider {
    width: 30%;
  }
  &__grid {
    .MuiGrid-item {
      border: 1px solid rgba(0, 0, 0, 0.1);
      padding: 8px;
      text-align: center;
    }
  }
  &__chart {
    width: 100%;
    height: 450px;
    &--sparkline {
      width: 120px;
      height: 60px;
    }
  }
  &__empty-state {
    height: 100%;
  }
  &__metric {
    width: 50%;
    height: 100%;
  }
}
